*.pyc
*~
__pycache__
venv
myvenv
.idea
/.idea
/__pycache__
/venv
/myvenv
/.ipynb_checkpoints
.ipynb_checkpoints
.DS_Store

my_python/.ipynb_checkpoints
/my_python/.ipynb_checkpoints
my_python/__pycache__
/my_python/__pycache__
/my_python/connections.py

/tmp
tmp
